.horizontal-navbar{
    text-align: left;
    margin-left: 20px;
}

  .dropdown{
   width: 200px;
   justify-content: space-between;
   column-gap: 10px;
   margin-left: 250px;
   margin-top: 10px;
}

.links{
   margin-left: 60px;
   justify-content:space-between;
   margin-top: 10px;
   color: aliceblue;
}

.template{
    margin-left: 500px;
    /* margin-top: 0px; */
}

.metadata{
    margin-left: 900px;
    margin-top: 0px;
}

.container{
    position: fixed;
    height:100%;
    display: block;
    width: 200px;
    background-color: rgb(159, 159, 203);
    margin-top: 100px;
    margin-left: 250px;
}

.navcontainer{
    position: fixed;
    height:10%;
    width: 1220px;
    display: inline-block ;
    background-color: rgb(159, 159, 203);
    margin-top: 10px;
    margin-left: 250px;
    margin-right: 100px;
}

.vcontainer{
    position: fixed;
    height:60%;
    width: 140px;
    background-color: rgb(159, 159, 203);
    margin-top: 100px;
    margin-left: 470px;
}

.sidebarContainer{
    display: flex;
    flex-direction: column;
}

.selection-btn{
    margin: 20px 15px;
}

.btn-group1{
    display: block;
}

.condition-btn{
    margin: 25px 15px;
}

.aggregation-btn{
    margin: 20px 10px;
}

.widecontainer{
    position: fixed;
    height:60%;
    width: 840px;
    background-color: rgb(159, 159, 203);
    margin-top: 100px;
    margin-left: 630px;
}

