.horizontal-navbar{
    text-align: left;
    margin-left: 20px;
}

  /* .dropdown{
   width: 200px;
   justify-content: space-between;
   column-gap: 10px;
   margin-left: 250px;
   margin-top: 10px;
} */

/* .links{
   margin-left: 60px;
   justify-content:space-between;
   margin-top: 10px;
   color: aliceblue;
} */

.template{
    margin-left: 480px;
    /* margin-top: 0px; */
}

.metadata{
     margin-left: 100px; 
    /* margin-top: 0px; */
}

.container{
    position: fixed;
    height:100%;
    display: block;
    width: 200px;
    background-color: rgb(159, 159, 203);
    margin-top: 100px;
    margin-left: 250px;
}

.navcontainer{
    position: fixed;
    height:10%;
    width: 1220px;
    display: flex ;
    background-color: rgb(159, 159, 203);
    margin-top: 10px;
    margin-left: 250px;
    margin-right: 100px;
}

.nav{
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
}

.sidebarContainer{
    display: flex;
    flex-direction: column;
}

.widecontainer{
    position: fixed;
    height:65%;
    width: 1000px;
    background-color: rgb(159, 159, 203);
    margin-top: 100px;
    margin-left: 470px;
}

.wide-inner{
    margin-left: 20px;
}

#condition {
    resize: none;
  }