.horizontal-navbar{
    text-align: left;
    margin-left: 10px;
}

.template{
    margin-left: 480px;
    
    /* margin-top: 0px; */
}

.metadata{
     margin-left: 100px; 
    /* margin-top: 0px; */
}

.dropdown{
    background-color: #6A88A4;
}

.verticalContainer{
    position: fixed;
    height:100%;
    display: block;
    width: 200px;
    background-color: #C7D3D8;
    margin-top: 100px;
    margin-left: 240px;
    padding-left: 10px;
}

.navcontainer{
    position: fixed;
    height:10%;
    width: 1230px;
    display: flex ;
    background-color: #C7D3D8;
    margin-top: 10px;
    margin-left: 240px;
    margin-right: 100px;
}

.nav{
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
}

.sidebarContainer{
    display: flex;
    flex-direction: column;
}

.widecontainer{
    position: fixed;
    height:65%;
    width: 1010px;
    background-color: #C7D3D8;
    margin-top: 100px;
    margin-left: 460px;
}

.wide-inner{
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    align-items: baseline;
}

.queryStatement{
    width: 100%;
    display: flex;
    align-items: baseline;
}


#condition {
    resize: none;
  }

.whereClause {
    display: flex;
    /* margin-top: 20px; */
}

.operator2{
    margin-top: 272px;   
}

.operands{
    margin-top: 272px;
}

.operandsOption{
margin-top: 295px;

}

.editButton{
    margin-top: 600px;
    margin-left: 1300px;
}

.modalContainer{
    /* margin-top: 100px;
    margin-left: 200px; */
    margin: 15% 0;
}

.modal-body{
    display: flex;
    justify-content: space-around;
}

.form-check-label{
    margin-left: 10px;
}

.modalDropdown{
    width: 300px;
    margin-left: 90px;
    margin-bottom: 10px;
}